@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@theme {
    /* Custom Colors */
    --color-dark: #211951;
    --color-light: #F0F3FF;
    --color-primary: #15F5BA;

    /* Custom Fonts */
    --font-primary: 'Josefin Sans', sans-serif;
    --font-secondary: 'Inconsolata', monospace;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
    @apply bg-light text-dark dark:bg-dark dark:text-light font-secondary;
} 

/* Removing Custom Autofill Background Color */
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* For Chrome, Edge, and Safari */
.mini-scrollbar::-webkit-scrollbar {
    width: 3px; /* Adjust as needed */
}

.mini-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-primary); /* Scrollbar color */
    border-radius: 16px;
}


/* AI Response Chat Bubble Customization */

/* For lists */
.chat-bubble *:is(ul, ol) {
    @apply space-y-2.5;
}

/* For Bold Characters  */
.chat-bubble *:is(strong) {
    @apply dark:text-primary;
}

/* For Code Blocks */
.chat-bubble *:is(pre, code) {
    @apply bg-gray-200 px-2 py-0.5 text-sm text-black rounded-lg;
}
